<footer class="page-footer blue darken-3">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">K-Man Fictional Character Repository</h5>
                <p class="grey-text text-lighten-4">An emerging application to create entries for characters.</p>
                  <p class="grey-text text-lighten-4">Inspired from <a href="http://knowyourmeme.com/">Know your meme</a></p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">About</a></li>

                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 Jay P
            <br>
            v 1.0.0
            </div>
          </div>
        </footer>
