<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <!-- Include external CSS. -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
   <link rel="stylesheet" href="/css/style.css">

</head>
<body>
  {{> _headernav}}
  {{#if user}}
    {{> _add-btn}}
  {{else}}

  {{/if}}
  <main>
    <div class="container">
        {{{body}}}
    </div>
  </main>

  {{> _stickfooter}}


    <!-- Include external JS libs. -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.js"
      integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
      crossorigin="anonymous">
      </script>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <script src="https://cdn.ckeditor.com/4.7.3/standard-all/ckeditor.js"></script>

       <!-- Initialize the editor. -->
       <script>
       $(document).ready(() => {
      $('.button-collapse').sideNav();
      $('select').material_select();
    });


       			CKEDITOR.replace( 'datval',{
              plugins : 'wysiwygarea,iframe,iframedialog,toolbar,image,embed,embedbase,basicstyles,list,table,sourcearea,format,horizontalrule,stylescombo,tabletools,liststyle,font,justify,blockquote,preview,link'

            } );
            CKEDITOR.config.embed_provider='//ckeditor.iframe.ly/api/oembed?url={url}&callback={callback}';
            CKEDITOR.config.allowedContent =true;
            CKEDITOR.config.disallowedContent = 'script style';
            CKEDITOR.config.contentsCss=['https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css','https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css'];

       		</script>
     </body>
</body>
</html>
