

<div class="container">
<span class="display-1">cifishhisfh</span><br>
<span class="display-1">cifishhisfh</span><br>
<span class="display-1">cifishhisfh</span><br>
<hr class="my-3">
  <form class="" action="/doStuff" method="post">
    <span class="h4">Enter Your article contents</span>
      <hr class="my-3">
  <textarea name="datval"  id="mkdwn" style="border: 2px solid" ></textarea>
<hr class="my-3">
  <button type="submit" name="button">Check Results</button>
</form>
</div>
