<p class="display-2">About</p>
<hr>
<p class="lead">
  Welcome to K-Man Fictional Character Repository, a fictional Character Repository which contains entries created by you, the people.<br>
  Here, Chrome browser is best supported.<br>
  One can use embeds, images, videos and also directly mingle with the text editor, powered by CKeditor <br>
  One can also preview their content before submitting
</p>
