<h2 class="display-2" >Welcome</h2>
<hr class="my-2 " />
<p> This is version 1 of KFCR </p>
<p> Login to your google account or any account which is a part of the G-Suite and then enter
your characters or entries you want to add.
This Application works best on mozilla firefox (due to embeds) </p>
<blockquote class="blockquote">
  <p class="mb-0">Best App Ever, can't Believe it. I rate it 5/7</p>
  <footer class="blockquote-footer"> TripleZed</footer>
</blockquote>

{{#if user}}
Now that you're logged in, press that '+' icon next to the footer to begin writing the entries
{{else}}
<a class=" btn btn-danger " href="/gauth/google"><i class="fa fa-google left" aria-hidden="true"></i>
 Login with google</a>
{{/if}}
