<h1  >Welcome</h1>
<p> This is version 1 of KFCR </p>
<p> Login to your google account or any account which is a part of the G-Suite and then enter
your characters or entries you want to add.
This Application works best on mozilla firefox (due to embeds) </p>
<blockquote >
Best app 5/7
</blockquote>

{{#if user}}
Now that you're logged in, press that '+' icon next to the footer to begin writing the entries
{{else}}
<a class="waves-effect waves-light btn red darken-1" href="/gauth/google"><i class="fa fa-google left" aria-hidden="true"></i>
 Login with google</a>
{{/if}}
