<div class="row">
  <div class="col-8">
    <h3 class="display-4"> Here is a title </h3>
    <hr>
    <p>Enter Article Contents (this will get stored by default, so try to change this)</p><p>vdsgdsib</p><p>this is an overload of everything</p><h3>First</h3><div><hr />This is an embed</div><div> </div><div> <p> </p></div><p style="text-align: center;"><iframe width="560" height="315" src="https://www.youtube.com/embed/XI4eE7YIIvQ" frameborder="0" allowfullscreen=""></iframe></p><p>Next is a right aligned gif</p><p style="text-align: right;"><img alt="steiner runs" style="width: 450px; height: 253px;" src="http://www.wrestlecrap.com/wp-content/uploads/2017/10/wg2000-07.gif" /></p><p>ANd here is a list</p><ol><li>Here i</li><li>Is&nbsp;</li><li>A List</li><li>And You&nbsp;</li><li>Know&nbsp;</li><li>Nothing</li></ol>
    <div data-oembed-url="https://imgur.com/024hRq4"><blockquote class="imgur-embed-pub" lang="en" data-id="024hRq4"><a href="https://imgur.com/024hRq4">View post on imgur.com</a></blockquote><script async="" src="//s.imgur.com/min/embed.js" charset="utf-8"></script></div><p> </p>
  </div>
  <div class="col-4">
    <div class="card center-align">
      <div class="card-content">
        <span class="card-title">{{user.firstName}} {{user.lastName}}</span>
        <img src="{{user.image}}" class="circle responsive-img">
      </div>

    </div>
  </div>
</div>
